<div class="row" style="margin-top: 20px;">
  <div class="col-3"></div>
  <div class="col-9">
    <div class="card" style=" width: 30rem;">
      <div class="card-body">

        <h5 class="card-title">{{title}}</h5>
        <p class="libTeaser">{{teaser}}</p>

        <form>
          {{#each blanks}}
          <div class="form-group row">
            <label for="blank-{{this.index}}" class="col-sm-6 col-form-label">
              {{this.variant}} {{this.category}}
            </label>
            <div class="col-sm-6">
              <input name="template-{{id}}" type="hidden">
              <input id="blank-{{@index}}" name="{{@index}}" type="text" class="form-control">
            </div>
          </div>
          {{/each}}
        </form>

        <button type="button" class="makeLib btn btn-primary" id="{{id}}">Make Lib</button>

      </div>
    </div>
  </div>
</div>